p {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 60, 120, .5);
  text-transform: uppercase;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  transition: .3s ease;
}
.button:hover {
  color: rgba(250, 100, 70, 1);
}
