.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.item {
  width: 100%;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  margin: 6px 20px;
  padding: 8px;
  cursor: pointer;
  transition: .3s ease;
}
i {
  font-size: 24px;
  margin-right: 15px;
  color: rgba(60, 120, 180, 1);
}
span {
  font-weight: 700;
  color: rgba(60, 120, 180, 1);
}
.button:hover {
  background-color: rgba(0, 60, 120, .05);
}
.button:hover span,
.button:hover i {
  color: rgba(250, 100, 70, 1);
}
.active,
.active:hover  {
  background-color: rgba(60, 120, 180, 1);
}
.active i,
.active span,
.active:hover i,
.active:hover span {
  color: rgba(255, 255, 255, 1);
}
